/* Proudly taken from https://codepen.io/brundolf/pen/beagbQ */

.controls {
    display:flex;
    justify-content:space-between;
    gap: 4px;
    margin-top: 4px;

    #left,
    #right,
    #up,
    #down,
    #run,
    #jump {
        font-family: monospace;
        font-size: 2em;
        line-height: 2em;
        background-color: gray;
        flex-grow: 1;
        text-align: center;
        border: 4px darkgrey solid;
        display:inline-block;
        text-transform: uppercase;
    }
    
}
